In [45]:
import sqlite3
from django.contrib.auth.hashers import make_password
from django.conf import settings
import pandas as pd
import numpy as np
from faker import Faker
import random
from sqlalchemy import create_engine

settings.configure()

In [197]:
connection = sqlite3.connect('db.sqlite3')
cursor = connection.cursor()

In [ ]:
cursor.execute('UPDATE SQLITE_SEQUENCE SET SEQ=10 WHERE NAME="user_customuser";')

In [ ]:
cursor.execute('SELECT name FROM sqlite_master WHERE type="table";')
print(cursor.fetchall())

In [ ]:
cursor.execute('PRAGMA table_info([user_customuser]);')
print(cursor.fetchall())

In [ ]:
# Por motivos desconhecidos, o Django usa o nome errado e diz que a coluna não existe, então alteramos

cursor.execute('ALTER TABLE user_business_invitations RENAME COLUMN from_business_id TO business_id;')

In [ ]:
categories = [
    [1, 'Cortes'],
    [2, 'Tratamentos Capilares'],
    [3, 'Coloração'],
    [4, 'Penteados'],
    [5, 'Depilação'],
    [6, 'Manicure'], 
    [7, 'Consulta Medica'], 
    [8, 'Exames de Saude'],
    [9, 'Tatuagem e Piercing'],
    [10, 'Massagem']
]


cursor.executemany('INSERT INTO user_servicecategory (id, category) VALUES (?, ?);', categories)

In [155]:
fake = Faker('pt_BR')

ddd = [11,12,13,14,15,16,17,18,19,21,22,24,27,28,31,32,33,34,35,37,38,41,42,43,44,45,46,47,48,49,51,53,54,55,61,62,63,64,65,66,67,68,69,71,73,74,75,77,79,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99]
ddd = np.array(ddd, dtype=str)

def create_users(num=1):
    output = [{"password": make_password(fake.password()),
               "email": fake.unique.email(),
               "first_name": fake.first_name(),
               "last_name": fake.last_name(),
               "is_active": True,
               "is_admin": False,
               "last_login": fake.date_time_between(start_date='-1M', end_date='now'),
               "business_id": random.randint(1,205)
            } for x in range(num)]
    n = int(num/2)
    phone = np.array([random.randint(900000000, 999999999) for x in range(n)], dtype=str)
    result = pd.DataFrame(output)
    result['cpf'] = np.append(np.array(random.sample(range(10000000000, 20000000000), n)), np.array([None]*n))
    result['phone_number'] = np.append(np.array([None]*n), list(map(lambda x: random.choice(ddd)+x, phone)))
    result['birth_date'] = np.append([fake.date_between(start_date='-70y', end_date='-18y') for x in range(n)], np.array([None]*n))
    result['is_client'] = np.append(np.array([False]*n), np.array([True]*n))
    return result

user = create_users(2000)
user.head()

,password,email,first_name,last_name,is_active,is_admin,last_login,business_id,cpf,phone_number,birth_date,is_client
0,pbkdf2_sha256$260000$1Zi4fM4bi33qSL84CgaW5J$KX...,isabelly96@example.com,Joana,Moreira,True,False,2021-12-01 05:44:32,52,15204965211,None,1978-05-17,False
1,pbkdf2_sha256$260000$krawgeZC1cGWyGkBGa6Ikx$Mp...,emanuellarezende@example.com,Theo,Dias,True,False,2021-11-11 12:39:33,71,10556530100,None,1988-01-28,False
2,pbkdf2_sha256$260000$cnRJJ0xZEsL48u914zm1E6$qd...,luiz-fernandoda-luz@example.org,Giovanna,Correia,True,False,2021-12-03 09:59:10,2,17959217993,None,1998-08-25,False
3,pbkdf2_sha256$260000$uz70zkSVRbBqLLyj7T6xWA$lq...,sofiamartins@example.org,Benjamin,Mendes,True,False,2021-11-10 09:07:39,37,11815212830,None,1991-01-05,False
4,pbkdf2_sha256$260000$rrMOJJQenXowWGFupwPCR5$QE...,natalia43@example.org,Manuela,Cunha,True,False,2021-11-24 08:09:03,72,12429490688,None,1969-07-07,False

In [184]:
def create_business(num=1):
    output = [{"name": fake.unique.company(),
               "register_date": fake.date_between(start_date='-1M', end_date='now'),
            } for x in range(num)]
    result = pd.DataFrame(output)
    result['cnpj_cpf'] = random.sample(range(10000000000, 20000000000), num)
    result['ceo_id'] = random.sample(range(11,2011), num)
    return result

business = create_business(200)

In [193]:
service = [
    ['Corte Masculino Tesoura', 1],
    ['Corte Masculino Máquina', 1],
    ['Corte Feminino Longo', 1],
    ['Corte Feminino Curto', 2],
    ['Hidratação', 2],
    ['Nutrição', 2],
    ['Descolorir Full', 3],
    ['Descolorir Mechas', 3],
    ['Coloração Full', 3],
    ['Coloração Mechas', 3],
    ['Chapinha', 4],
    ['Prancha', 4],
    ['Progressiva', 4],
    ['Escova', 4],
    ['Depilação íntima', 5],
    ['Depilação Abdômen', 5],
    ['Depilação Pernas', 5],
    ['Depilação Full', 5],
    ['Depilação Laser', 5],
    ['Manicure', 6],
    ['Cutícula', 6],
    ['Pedicure', 6],
    ['Avaliação Dentista', 7],
    ['Revisão Dentista', 7],
    ['Limpeza Dental', 7],
    ['Cirurgia', 7],
    ['Terapia', 7],
    ['Analise', 7],
    ['Exame de Sangue', 8],
    ['Tomografia', 8],
    ['Raio X', 8],
    ['Ultrassom', 8],
    ['Eletrocardiograma', 8],
    ['Tatuagem pequena', 9],
    ['Tatuagem média', 9],
    ['Tatuagem grande', 9],
    ['Piercing', 9],
    ['Piercing íntimo', 9],
    ['Massagem', 10],
    ['Quiropraxia', 10],
    ['Acupuntura', 10],
]

service = pd.DataFrame(service).rename(columns={0: 'title', 1: 'category_id'})

In [ ]:
def create_services(num=1):
    minutes = [5*x for x in range(2,21)]
    output = [{"description": fake.paragraph(),
               "duration": random.choice(minutes),
               "price": random.randint(10, 150),
               "business_id": random.randint(1, 205),
                } for x in range(num)]
    return pd.DataFrame(output)

service_partial = create_services(41)
service = service_partial.join(service)

In [ ]:
def create_booking(num=1):
    output = [{ "date_time": fake.date_time_between(start_date='-1M', end_date='+1M').replace(second=0),
                "paid_out": fake.boolean(),
                "comment": fake.paragraph(),
                "client_id": random.randint(1011, 2011),
                "service_id": random.randint(1, 41),} for x in range(num)]
    return pd.DataFrame(output)

booking = create_booking(4000)

In [ ]:
to_sql = [(user, 'user_customuser'), (business, 'user_business'), (service, 'user_service'),
        (service, 'user_service'), (booking, 'user_booking')]

engine = create_engine('sqlite:///db.sqlite3')
for tupla in to_sql:
    tupla[0].to_sql(name = tupla[1], con = engine, if_exists = 'append', index = False)

In [203]:
connection.commit()
cursor.close()
connection.close()